.card-manager{
    padding: 1rem;
    background-color: #fff;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 10px;
    min-width: 800px;
}

.card-scrolled{
    overflow-x: auto;
}

.card-manager>h2{
    font-family: 'Arapey', serif;
    margin-bottom: 5px;
}

.card-manager-btn{
    border-radius: 10px;
    height: 35px;
    margin: 0px 0px 10px 0px;
    background-color: green;
    color: #fff;
    border: 1px solid black;
}

.card-manager-btn:hover{
    background-color: rgb(118, 168, 68);
}

.card-scrolled2{
    display: none;
}